body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}
/*
h1 {
  margin: 0 auto;
  width: 10%;
}
*/
h1 {
  color: #479678;
  font-size: 5rem;
  line-height: 2;
  margin: 40px auto 0;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #479678;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: normal;
}

h3 {
  color: #29b8bd;
  font-family: "Montserrat", sans-serif;
}

hr {
  border: dotted #c1fdfd 6px;
  border-bottom: none;
  width: 5%;
  margin: 70px auto 80px;
}

a {
  color: #2b996f;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #c1fdfd;
}

.pro {
  text-decoration: underline;
}

.top-container {
  background-color: rgb(161, 240, 212);
  position: relative;
  padding-top: 110px;
}

.middle-container {
  position: relative;
  padding-bottom: 20px;
}

.bottom-container {
  background-color: #63c7c7;
  padding: 40px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile {
  width: 30%;
  margin: 50px auto 0px;
}

.contact-message {
  width: 40%;
  margin: 20px auto 40px;
}

.copyright {
  color: #c1fdfd;
  font-size: 0.75rem;
  padding: 10px 0;
}

.skill-row {
  width: 50%;
  margin: 60px auto 100px;
  text-align: left;
}

.code-img {
  width: 35%;
  float: left;
  margin-right: 30px;
}

.nugget-img {
  width: 35%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  /*  padding: 1rem 2rem 1rem 2rem; */
   padding: 10px 20px 10px 20px; 
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
